{% extends "orders/layout.html" %}
{% load static %}

{% block title %}
    Django's Pizza
{% endblock %}

{% block body %}
    <!-- Client side alerts -->
    <div class="alert alert-primary fade show" id="alertSystem" role="alert">
        <p id="alertMessage"></p>
    </div>

    <!-- Cart contents -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="my-4">Items</h3>
                <table class="table">
                    <thead>
                        <th scope="col">Product</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total</th>
                        <th scope="col">Remove</th>
                    </thead>
                    <tbody id="order-details">

                    </tbody>
                    <tbody>
                        <tr>
                            <td>
                                <span></span>
                            </td>
                            <td>
                                <span></span>
                            </td>
                            <td>
                                <h5>Total (USD)</h5>
                            </td>
                            <td class="font-weight-bold">
                                $<span id="order-total"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span></span>
                            </td>
                            <td>
                                <span></span>
                            </td>
                            <td>
                                <button class="btn btn-outline-dark text-center" type="button">Continue Shopping</button>
                            </td>
                            <td>
                                <button class="btn btn-success text-center" type="button" id="confirm-order">Confirm Order</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--JS File -->
    <script type="text/javascript" src="{% static 'carts/cart-manager.js' %}"></script>
{% endblock %}
