{% extends "orders/layout.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    Django's Pizza - Customize your {{ category }}
{% endblock %}

{% block body %}
    <!-- Client side alerts -->
    <div class="alert alert-primary fade show" id="alertSystem" role="alert">
        <p id="alertMessage"></p>
    </div>

    <div class="container my-5">
        <div class="row">
            <div class="col-md-3 text-center">
                <img id="product-image" src="https://via.placeholder.com/150" class="img-fluid"/>
            </div>

            <div class="col-md-9">
                {% if category == 'Pizza' or category == 'Sub' or category == 'Dinner' %}
                    <h1>{{ product }} {{ category }}</h1>
                {% elif category == 'Pasta' or category == 'Salad' %}
                    <h1>{{ product }}</h1>
                {% endif %}

                <form action="#" id="order-form" method="post" novalidate>

                    {% csrf_token %}
                    {% if category == 'Pizza' %}
                        {{ PizzaForm|crispy }}
                        {{ PizzaToppingForm|crispy }}
                        {{ CartQuantity|crispy }}
                    {% elif category == 'Sub' %}
                        {{ SubSizeForm|crispy }}
                        {{ SubToppingForm|crispy }}
                        {{ CartQuantity|crispy }}
                    {% elif category == 'Dinner' %}
                        {{ SubSizeForm|crispy }}
                        {{ CartQuantity|crispy }}
                    {% else %}
                        {{ CartQuantity|crispy }}
                    {% endif %}
                    <button type="submit" id="order-button" class="btn btn-success">Add to Cart <span id="price"></span></button>
                </form>
            </div>
        </div>

    </div>
    {{ category|json_script:"category" }}
    {{ product|json_script:"product" }}

    <!--JS File -->
    <script type="text/javascript" src="{% static 'orders/query-price.js' %}"></script>
{% endblock %}
