{% extends "orders/layout.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    Django's Pizza - Customize your Pizza
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-3 text-center mt-5">
                <img src="https://via.placeholder.com/150" class="img-fluid"/>
            </div>

            <div class="col-md-9 mt-5">
                <h1>Make your own Pizza</h1>

                <form action="#" id="order-form" method="post" novalidate>

                    {% csrf_token %}
                    {{ PizzaForm|crispy }}
                    {{ PizzaToppingForm|crispy }}
                    <button type="submit" id="order-button" class="btn btn-success">Add to Cart</button>
                </form>
            </div>
        </div>

    </div>

    <!-- JS File -->
    <script type="text/javascript" src="{% static 'orders/check-price.js' %}"></script>
{% endblock %}
