{% extends "orders/layout.html" %}

{% block title %}
    Django's Pizza
{% endblock %}

{% block body %}
    <main class="container">
        <h2>Regular Pizzas</h2>
        <div class="row">
            <div class="col-sm-4">
                <div class="card bg-light px-0 mb-3">
                    <div class="row no-gutters">
                        <div class="col-4">
                            <img class="card-img" src="https://via.placeholder.com/150" />
                        </div>
                        <div class="col-8">
                            <div class="card-body">
                                <h5 class="card-title">Regular Pizza</h5>

                            </div>
                        </div>
                        <a href="#" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card bg-light px-0">
                    <div class="row no-gutters">
                        <div class="col-4">
                            <img class="card-img" src="https://via.placeholder.com/150" />
                        </div>
                        <div class="col-8">
                            <div class="card-body">
                                <h5 class="card-title">Regular Pizza</h5>

                            </div>
                        </div>
                        <a href="#" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card bg-light px-0">
                    <div class="row no-gutters">
                        <div class="col-4">
                            <img class="card-img" src="https://via.placeholder.com/150" />
                        </div>
                        <div class="col-8">
                            <div class="card-body">
                                <h5 class="card-title">Regular Pizza</h5>

                            </div>
                        </div>
                        <a href="#" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card bg-light px-0">
                    <div class="row no-gutters">
                        <div class="col-4">
                            <img class="card-img" src="https://via.placeholder.com/150" />
                        </div>
                        <div class="col-8">
                            <div class="card-body">
                                <h5 class="card-title">Regular Pizza</h5>

                            </div>
                        </div>
                        <a href="#" class="stretched-link"></a>
                    </div>
                </div>
            </div>

    </main>
{% endblock %}
