{% extends "orders/layout.html" %}

{% block title %}
    Django's Pizza
{% endblock %}

{% block body %}
    <main class="container mt-3">

        <h3 class="mb-3">Pizza</h3>
        <!-- Pizza builder -->
        <div class="row mb-3">
            <div class="col-sm-4">
                <div class="card bg-light px-0 mb-3">
                    <div class="row no-gutters">
                        <div class="col-4">
                            <img class="card-img" src="https://via.placeholder.com/150" />
                        </div>
                        <div class="col-8">
                            <div class="card-body">
                                <h5 class="card-title">Build your Pizza</h5>
                            </div>
                        </div>
                        <a href="{% url 'custom-pizza' %}" class="stretched-link"></a>
                    </div>
                </div>
            </div>
        </div>    
        {% for name, type in simple_dishes.items %}
            <h3 class="mb-3">{{ name }}</h3>
            <div class="row mb-3">
                {% for dish in type %}
                    <div class="col-sm-4">
                        <div class="card bg-light px-0 mb-3">
                            <div class="row no-gutters">
                                <div class="col-4">
                                    <img class="card-img" src="https://via.placeholder.com/150" />
                                </div>
                                <div class="col-8">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ dish.name }}</h5>
                                        {% if dish.type %}
                                        <h6>{{ dish.get_type_display }} Pizza</h6>
                                        {% endif %}
                                    </div>
                                </div>
                                <a href="{{ dish.get_absolute }}" class="stretched-link"></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}

    </main>
{% endblock %}
