{% extends "orders/layout.html" %}

{% block title %}
    Django's Pizza
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-3 text-center mt-5">
                <img src="{{ product.image }}" class="img-fluid"/>
            </div>

            <div class="col-md-9 mt-5">
                <h1>{{ product.name }}</h1>

                <form action="#" method="POST">
                    {% csrf_token %}
                    {% if type == 'Sub' %}
                        <div class="form-group">
                            <label for="subSize">Size of Sub</label>
                            <select class="form-control" id="subSize">
                                {% for size in SubSizes %}
                                    <option value="">{{ size }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="subToppingSelect">Select a topping</label>
                            <select class="form-control" id="subToppingSelect">
                                {% for topping in SubToppings %}
                                    <option value="">{{ topping }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    {% endif %}

                    {% if type == 'Pizza' %}
                        <div class="form-group">
                            <label for="subSize">Size of Pizza</label>
                            <select class="form-control" id="subSize">
                                {% for size in PizzaSizes %}
                                    <option value="">{{ size }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="toppingSelect">Select a topping</label>
                            <select class="form-control" id="toppingSelect">
                                {% for topping in PizzaToppings %}
                                    <option value="">{{ topping }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    {% endif %}

                    {% if type == 'Dinner' %}
                        <div class="form-group">
                            <label for="subSize">Size of Dinner</label>
                            <select class="form-control" id="subSize">
                                {% for size in DinnerSizes %}
                                    <option value="">{{ size }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    {% endif %}
                    <a href="#" class="btn btn-success">Add to Cart ${{ product.price }}</a>
                </form>
            </div>
        </div>

    </div>
{% endblock %}
