{% extends "orders/layout.html" %}

{% block title %}
    Django's Pizza
{% endblock %}

{% block body %}
<div class="col-sm-6 card bg-light px-0">

    <div class="row no-gutters">
        <div class="col-4">
            <img class="card-img" src="https://via.placeholder.com/150" />
        </div>
        <div class="col-8">
            <div class="card-body">
                <h5 class="card-title">Regular Pizza</h5>
                <a href="#" class="stretched-link"></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
